html, body {
  margin: 0;
  background-attachment: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: 'Kanit', serif;
  max-height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  height: 100%;
  width: 100%;
  background-color: #f0eebb;
  /*background-color: #add8e6;*/
}

.time {
  border: #f0eebb;
  position: absolute;
  height: 100px;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  gap: 10px 15px;

  font-size: 35px;
  font-weight: 700;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}

.show {
  opacity: 1;
}
.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

/** {*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*}*/

.year {
  
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border: #f0eebb;
  background-image: linear-gradient(
    transparent 12%,
    #f0eebb 30%,
    #f0eebb 70%,
    transparent 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}

.year p {
  margin-top: 0px;
  border: #f0eebb;
  color: black;
}

.text {
  display: flex;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  overflow: hidden;
  position: relative;
  border: #f0eebb;
  background-image: linear-gradient(
    transparent 12%,
    #f0eebb 30%,
    #f0eebb 70%,
    transparent 95%
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}

.start, .dash {
  border: #f0eebb;
  margin-top: 35px;
  color: black;
}

.dash {
  margin-left: 15px;
}

.logo-wrapper {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);   
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s linear;
  border: none;
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.logo-171 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background:
          linear-gradient(to bottom, rgba(255, 255, 255, 0) 200px, #f0eebb 300px);
}

.logo-171 img{
  position: absolute;
  margin-top: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  object-fit: cover;
  z-index: -1;
}

.scroll-wrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);   
  z-index: 0;
  opacity: 1;
  transition: opacity 0.5s linear;
  border: none;
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.scroll-container { 
  position: absolute;
  width: 100%;
  height: 100%;
  background:
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 80px, #f0eebb 100px);
  overflow-y: hidden;
  
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  /* rotate: -90deg; */
}
  

.icon-scroll {
  width: 20px;
  height: 35px;
  margin-left: -10px;
  top: 30%;
  margin-top: 70%;
  box-shadow: inset 0 0 0 3px #000000;
  border-radius: 40px;
  z-index: -1;
  rotate: 0deg;
}
  

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #000000;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  /* rotate: -90deg; */
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.show {
  transition: opacity 0.5s linear;
  opacity: 1;
}

/*! This is the header*/
.header {
  position: fixed;
  opacity: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: lightblue; */
  z-index: 10;
  overflow: hidden;
}

.skip {
  position: absolute;
  cursor: pointer;
  font-family: 'Kanit', serif;
  pointer-events: auto;
  top:0;
  right: 0;
  transform: translate(-50%, 50%);
  color: black;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  font-size: 1.5vw;
}

.hand {
  position: absolute;
  z-index: 2;
  top: 140vh;
  left: 60%;
  transform-origin: -25% 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: 100vh;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) -13px -1.5px 7px);
}

.hand > img, .hand2 > img, .chongkoHead > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.hand > img {
  width: 150%;
}

.hand2 {
  position: absolute;
  z-index: 3;
  bottom: -28vh;
  left: 50%;
  transform: translate(-50%, 43%);
  width: 70vh;
  height: 70vh;
}

.chongkoHead {
  position: absolute;
  z-index: 2;
  top: 150vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
  height: 100vh;
}

.did-you-know {
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  transform: perspective(2000px) translate3d(-50%, -50%, 0px);
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.did-you-know2, .did-you-know3, .prepare, .prepare2, .prepare3, .prepare4, .prepare5, .prepare6, .prepare7, .prepare8{
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 75%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.did-you-know3 {
  top: -30vh;
  left: 50%;
}

.prepare {
  top: -40vh;
  left: 50%;
}

.prepare2 {
  top: 50%;
  left: -50vw;
}

.prepare3 {
  flex-direction: column;
  top: 50%;
  left: 125vw;
}

.prepare4 {
  top: 150%;
  left: 50%;
}

.prepare5, .prepare6, .prepare7, .prepare8 {
  top: 130%;
  left: 50%;
  opacity: 100%;
}

.prepare6 {
  top: 150%;
  left: -50%;
}

.prepare7 {
  top: 170%;
  left: 150%;
}

.prepare8 {
  top: 50%;
  left: 50%;
  opacity: 0%;
}

.did-you-know > p {
  font-size: 20vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.did-you-know2 > p {
  white-space: nowrap;
  font-size: 7vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.did-you-know3 > p {
  font-size: 15vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.prepare > p {
  white-space: nowrap;
  font-size: 12vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.prepare2 > p {
  white-space: nowrap;
  text-align: right;
  font-size: 6vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.prepare3 > p, .prepare3 > span {
  white-space: nowrap;
  font-weight: 600;
  font-size: 6vh;
  margin: 0;
  padding: 0;
}

.prepare3 > span {
  font-size: 16vw;
}

.prepare4 > p {
  white-space: nowrap;
  font-size: 9vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.prepare5 > p, .prepare6 > p, .prepare7 > p, .prepare8 > p{
  white-space: nowrap;
  font-size: 5vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.header-paperplane {
  position: absolute;
  transform-origin: center center;
  rotate: 45deg;
  z-index: 3;
  top: 50%;
  left: 120%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
}

.header-paperplane > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
/*! Header ended!*/

.further-container {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -100;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#further-together {
  will-change: opacity;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity 0.6s ease;
  white-space: nowrap;
  color: #cecd9d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18vw;
  font-weight: 800;
}

#further-together.fade-in {
  opacity: 0.35;
}

.countdown-wrapper {
  position: absolute;
  overflow: hidden;
  transform-origin: left;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s linear;
  opacity: 0;
  left: 1050%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.show {
  opacity: 1;
}

.num, .unit {
  position: relative;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

}

.num {
  font-size: 6vw;
  font-weight: 400;
  gap: 4vw;
}

.num p {
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.unit {
  font-size: 2vw;
  font-weight: 400;
  gap: 4vw;
}

.unit p {
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text2, .text3 {
  position: relative;
  height: 50px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vw;
  font-weight: 700;
  color: #6c6b54;
  opacity: 1;

}

.text2 {
  transform: translate(-50%, -10vw);
}

.text3 {
  transform: translate(-50%, 10vw);
}

.overview-container {
  position: absolute;
  left: 1165%;
  transform-origin: left;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}

.overview {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
}

.map > p, .details {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
  font-size: 4vw;
  font-weight: 400;
}

.map > p {
  text-align: center;
  font-size: 3vw;
}

.details {
  width: 80%;
  height: 90%;
  border-radius: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

.details-container {
  flex-basis: 27%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.details-icon {
  position: relative;
  aspect-ratio: 1/1;
  height: 70%;
}

.details-icon > img, .concert-icon > img, .lakorn-icon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.details-two {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.details-two > p {
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

.details-two > a {
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: transparent;
  width: 50%;
  height: 25%;
  border: 0.2vw solid black;
  font-size: 1.8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12.5vw;
  transition: all 0.3s ease;
}

.details-two > a > p {
  padding: 0;
  margin: 0;
  flex-basis: 75%;
}

.arrow {
  position: relative;
  flex-basis: 10%;
  width: 50%;
  height: 50%;
}

.arrow > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.details-two > a:hover {
  color: white;
  background-color: black;
}

.concert-container {
  position: absolute;
  left: 1285%;
  transform-origin: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}

.concert-details {
  position: relative;
  flex-basis: 30%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.concert-header, .concert-footer {
  font-size: 8vw;
  font-weight: 600;
  color: black;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bands-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.band {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2vw;
  font-weight: 600;
}

.concert-icon {
  position: relative;
  aspect-ratio: 1/1;
  height: 40%;
}

.concert-footer {
 font-size: 5vw;
}

.chapel-container {
  position: absolute;
  left: 1415%;
  transform-origin: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}

.chapel-header, .lakorn-header {
  margin: 0;
  padding: 0;
  flex-basis: 30%;
  height: 30%;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  font-weight: 600;
}

.chapel-detail-container {
  position: relative;
  flex-basis: 54%;
  height: 54%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.chapel-band {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 100%;
  color: white;
  background-color: black;
  border-radius: 50%;
  font-size: 2vw;
  font-weight: 600;
}

.chapel-band > p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.chapel-line {
  width: 10px;
  height: 100%;
  background-color: black;
  border-radius: 5px;
}

.chapel-schedule {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: 1/1;
  height: 100%;
  color: black;
}

.chapel-schedule > p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 3vw;
  font-weight: 600;
}

.lakorn-container {
  position: absolute;
  left: 1535%;
  transform-origin: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}

.lakorn-detail-container {
  position: relative;
  flex-basis: 50%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.lakorn-image {
  flex-basis: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3vw;
  font-weight: 600;
  height: 30vw;
  width: 25vw;
  border-radius: 1vw;
  object-fit: cover;
}

.lakorn-detail {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 100%;
  gap: 3vw;
}

.lakorn-schedule, .lakorn-location {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-basis: 25%;
  gap: 3vw;
}

.lakorn-schedule > p, .lakorn-location > p {
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}

.lakorn-icon {
  position: relative;
  aspect-ratio: 1/1;
  height: 100%;
}

.souvenirs-container {
  position: absolute;
  left: 1690%;
  transform-origin: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.souvenirs-header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 55%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  gap: 3vh;
}

.souvenirs-headerP1, .souvenirs-headerP2 {
  width: fit-content;
  margin: 0;
  padding: 0;
}

.souvenirs-headerP1 {
  background: linear-gradient(to left, #F55E49, #158E8C, #21345B);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8.5vw;
  font-weight: 700;
}

.souvenirs-headerP2 {
  color: white;
  font-size: 5vw;
  font-weight: 700;
  text-shadow: 3px 3px 12px black;
}

.QR-souvenirs {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0%, -50%);
  width: 20vw;
  height: 20vw;
}

.QR-souvenirs > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.souvenirs-link {
  position: absolute;
  z-index: 1;
  top: 80%;
  right: 10%;
  transform: translate(0%, -50%);
  width: 20vw;
  height: 5vw;
  border-radius: 2.5vw;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  box-shadow: inset 0px 0px 0px 0.2vw black;
  font-size: 2vw;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.souvenirs-link:hover {
  color: white;
  background-color: black;
}

.souvenirs-link > p {
  flex-basis: 55%;
}

.arrow3 {
  flex-basis: 7%;
}

.arrow3 > img {
  margin: 0;
  padding: 0;
  flex-basis: 65%;
  text-align: center;
}

.souvenirs-collection-container {
  position: relative;
  width: 49vw;
  height: 49vw;
  left: 37%;
  top: calc((37vw + 37vh) / 2);
  transform: translate(-50%, -50%);
}

.souvenirs-collection {
  will-change: transform;
  position: relative;
  width: 30vw;
  height: 30vw;
  top: calc(8vh + 5.5vw);
  left: calc(8vh + 4vw);
  z-index: 2;
  transform-origin: center;
}

.souvenirs {
  will-change: transform;
  position: absolute;
  width: 7vw;
  height: 7vw;
  filter: drop-shadow(2px 4px 6px black);
}

.souvenirs > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.souvenirs-collection-container > img {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: calc(16vw + 16vh);
  left: calc(16vw + 16vh);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}

.dreamscape-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  left: 1775%;
}

#dreamscape-name {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.75);
  z-index: 2;
  width: 100%;
  top: 0;
  left: 2585%;
  margin: 0;
  padding: 0;
  font-size: 6vw;
  font-weight: 700;
}

#dreamscape-name.fade-in {
  opacity: 1;
}

.dreamscape-logo-front, .dreamscape-logo-back {
  position: absolute;
  overflow: hidden;
  left: 3092.5%;
  top: 30vh;
  transform: translate(-50%, -50%);
}

.dreamscape-logo-front > img, .dreamscape-logo-back > img {
  will-change: transform;
  width: 100%;
  height: 100%;
}

.dreamscape-logo-front {
  width: 30vw;
  height: 30vw;
  z-index: 1;
  pointer-events: none;
}

.dreamscape-logo-back {
  width: 35vw;
  height: 35vw;
  z-index: 0;
}

#dreamscape-front, #dreamscape-back {
  transform-origin: center;
  scale: 1;
  transition: scale 0.5s ease;
  /* transform: rotate(300deg); */
}

.dreamscape-phone {
  position: absolute;
  will-change: transform;
  z-index: 2;
  top: 60%;
  left: 2290%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 11vw;
  height: 22vw;
}

.dreamscape-phone > img, .dreamscape-mac > img {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dreamscape-phone > video {
  pointer-events: none;
  position: absolute;
  will-change: transform;
  z-index: 1;
  object-fit: fill;
  width: 95%;
  height: 96%;
  top: 50%;
  left: 50%;
  border-radius: 1vw;
  transform: translate(-50%, -50%);
}

.dreamscape-mac {
  position: absolute;
  will-change: transform;
  z-index: 1;
  top: 55%;
  left: 1835%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 39vw;
  height: 28vw;
}

.dreamscape-mac > img {
  object-fit: contain;
}

.dreamscape-mac > video {
  pointer-events: none;
  position: absolute;
  will-change: transform;
  z-index: 1;
  object-fit: contain;
  width: 89%;
  height: 88%;
  top: 37.8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dream-mac-overlay {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  object-fit: contain;
  overflow: hidden;
  width: 87%;
  height: 72%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  border: none;
  gap: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  grid-template-columns: repeat(auto-fit, minmax(2.6vw, 1fr));
  grid-auto-rows: 2.6vw;
}

#dream-phone-overlay {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 95%;
  height: 93%;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: grid;
  border: none;
  gap: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  grid-template-columns: repeat(auto-fit, minmax(1.4vw, 1fr));
  grid-auto-rows: 1.4vw;
}

.grid-item1 {
  will-change: opacity;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  background-color: black;
  border: 1.5vw solid black;
  padding: 0;
  margin: 0;
}

.grid-item2 {
  will-change: opacity;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  background-color: black;
  border: 1vw solid black;
  padding: 0;
  margin: 0;
}

#dreamscape-link {
  will-change: top, opacity;
  position: absolute;
  text-decoration: none;
  left: 3095%;
  top: 48%;
  width: 29vw;
  height: 6vw;
  border-radius: 3vw;
  opacity: 0;
  z-index: 10;
  transform: translate(-50%, -50%);
  color: black;
  border: 0.25vw solid black;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.875);
  transition: color 0.6s ease;
  transition: background-color 0.6s ease, opacity 0.6s ease, top 0.6s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dreamscape-link > p {
  margin: 0;
  padding: 0;
  flex-basis: 80%;
}

.arrow2 {
  flex-basis: 7%;
}

#dreamscape-link.fade-in {
  top: 58%;
  opacity: 1;
}

#dreamscape-link:hover {
  background-color: black;
  color: white;
}

.dream-desc {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  width: 34vw;
  height: 10vw;
  left: 3092%;
  transform-origin: bottom;
  transform: translate(-50%, -50%);
  bottom: 20%;
}

.dream-desc-p {
  position: absolute;
  will-change: top;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1.5vw;
  text-align: center;
  transform: translate(-50%, -150%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
}

.dream-desc-p.fade-in {
  transform: translate(-50%, -50%);
}

.filter {
  position:absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  left: 1895%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.filter-text {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: auto;
  height: auto;
  gap: 0px 5vh;
  transform: translate(-50%, -50%);
  left: 55%;
  top: 15%;
  
}

#igName, .filter-text > img, #filter-hashtag {
  flex: 1 1 auto;
  margin: 0;
}

#igName {
  font-size: 10vw;
  font-weight: 700;
  color: white;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.75);
  transition: all 0.6s ease;
  opacity: 0;
  transform: translateX(-100%);
}

#igName.fade-in {
  opacity: 1;
  transform: translateX(0%);
}

#igLogo {
  max-width: 20%;
  -webkit-filter: drop-shadow(1px 3px 7px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(1px 3px 7px rgba(0, 0, 0, 0.75));
  transition: all 0.6s ease;
  opacity: 0;
  transform: translateX(100%);
}

#igLogo.fade-in {
  opacity: 1;
  transform: translateX(0);
}

#filter-hashtag {
  position: absolute;
  z-index: 4;
  color: white;
  top: 30%;
  left: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -100%);
  font-size: 1.5vw;
  font-weight: 400;
  transition: all 0.6s ease;
  opacity: 0;
}

#filter-hashtag.fade-in {
  opacity: 1;
  transform: translate(-50%, -50%);
}

#filter-link1 {
  position: absolute;
  z-index: 4;
  width: 18vw;
  height: 9vh;
  top: 41%;
  left: 55%;
  opacity: 0;
  transform: translate(-50%, 100%);
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 4.5vh;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#filter-link1 > p {
  margin: 0;
  padding: 0;
  flex-basis: 65%;
  text-align: center;
}

#filter-link1.fade-in {
  transform: translate(-50%, -50%);
  opacity: 1;
}

#filter-link1:hover {
  background-color: black;
  color: white;
}

.filter-overlay1, .filter-overlay2 {
  position: absolute;
  z-index: 2;
  width: 15vw;
  height: 30vw;
  left: 90%;
  top: 58%;
  border: none;
  border-radius: 2vw;
}

.filter-overlay1 {
  transform: translate(-61%, -55%);
  background-color: #A1D5CC;
}

.filter-overlay2 {
  transform: translate(-40%, -45%);
  background-color: #EF6C52;
}

.video-container {
  position: absolute;
  z-index: 3;
  width: 15vw;
  height: 30vw;
  left: 90%;
  top: 58%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 2vw;
  overflow: hidden;
}

.video-container > video {
  position: absolute;
  z-index: 1;
  width: 105%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle1 {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: 25%;
  left: 30%;
  transform-origin: left;
  transform: translate(0%, -50%);
  background-color: #eebd6e;
  transition: all 0.6s ease;
}

.circle1.fade-in {
  width: 60vw;
  height: 60vw;
}

.circle2 {
  position: absolute;
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: 15%;
  left: 17%;
  transform: translate(0%, -50%);
  background-color: rgb(232, 130, 75);
  transition: all 0.6s ease;
}

.circle2.fade-in {
  width: 50vw;
  height: 50vw;
}

.boxes-container {
  position: absolute;
  z-index: 1;
  left: 45%;
  bottom: 2%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 20vh;
}

.box1, .box2, .box3{
  width: 15vw;
  height: 15vw;
  opacity: 1;
  perspective: 1000px;
  -webkit-filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
}

/* .box1:hover .box-inner1, .box2:hover .box-inner2, .box3:hover .box-inner3 {
  transform: rotateY(180deg);
} */

.box-inner1, .box-inner2, .box-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  animation: none;
}

.front-box, .back-box {
  position: absolute;
  border-radius: 10%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-box {
  transform: rotateY(180deg);
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.show {
  transition: opacity 0.5s linear;
  opacity: 1;
}

/* .box1 {
  opacity: 1;
}

.box2 {
  opacity: 1;
}

.box3 {
  opacity: 1;
}

.box4 {
  opacity: 1;
}

.box5 {
  opacity: 1;
}

.box6 {
  opacity: 1;
} */


.front-box > img, .back-box > img {
  width: 100%;
  height: 100%;
}

.wallpaper-wrapper {
  position: absolute;
  left: 2015%;
  width: 100%;
  height: 100%;
  display: flex;
  transform-origin: left;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  /* overflow-y: hidden;
  overflow-x: scroll; */
}

.wallpaper-wrapper > p {
  position: absolute;
  left: 10%;
  top: 0%;
  margin: 0;
  color: white;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.75);
  font-size: 8.5vw;
  font-weight: 600;
  opacity: 0;
  transition: all 0.4s ease;
}

#wallpaper-name.fade-in {
  opacity: 1;
}

.wallpaper-link {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 5vw;
}

.wallpaper-link > a {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 2.5vw;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  box-shadow: inset 0px 0px 0px 0.2vw black;
  font-size: 2vw;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wallpaper-link > a > p {
  margin: 0;
  padding: 0;
  flex-basis: 65%;
  text-align: center;
}

.wallpaper-link > a:hover {
  background-color: black;
  color: white;
}

.wallpaper-square1, .wallpaper-square2 {
  position: absolute;
  z-index: 2;
  background-color: #f0eebb;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transition: all 0.6s ease;
}

.wallpaper-square1 {
  transform: translate(-99.9%, -50%);
}

.wallpaper-square2 {
  transform: translate(0, -50%);
}

.wallpaper-square1.fade-in {
  transform: translate(-150%, -50%);
}

.wallpaper-square2.fade-in {
  transform: translate(50%, -50%);
}

.wallpaper-phone {
  position: absolute;
  z-index: 4;
  left: 1435%;
  width: 12.5vw;
  height: 25vw;
  top: 62%;
}

#phone-overlay2 {
  opacity: 1;
  transition: opacity 0.6s ease;
}

#phone-overlay2.fade-in { /*here*/
  opacity: 0;
}

.wallpaper-phone > img:nth-child(1),  .wallpaper-ipad > img:nth-child(1), .wallpaper-laptop > img:nth-child(1), .wallpaper-phone2 > img:nth-child(1), .wallpaper-ipad2 > img:nth-child(1), .wallpaper-ipad2 > img:nth-child(2), .wallpaper-phone2 > img:nth-child(2) {
  object-fit: contain;
  position: absolute;
  pointer-events: none;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.wallpaper-phone > img:nth-child(2), #phone-overlay, .wallpaper-ipad > img:nth-child(2), #ipad-overlay, #laptop-overlay {
  object-fit: contain;
  position: absolute;
  pointer-events: none;
  z-index: 3;
  left: 50%;
  height: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 3vw;
}

#phone-overlay, #laptop-overlay, #ipad-overlay {
  pointer-events: auto;
  cursor: pointer;
}

#laptop-overlay {
  z-index: 4;
  width: 80%;
  height: 85%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  background-color: black;
}

.wallpaper-laptop > img:nth-child(2) {
  object-fit: cover;
  position: absolute;
  z-index: 2;
  left: 50%;
  height: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  border-radius: 3vw;
}

#phone-overlay, #ipad-overlay{
  z-index: 4;
  width: 95%;
  transition: all 0.4s ease;
  background-color: black;
}

#ipad-overlay {
  width: 85%;
}

#phone-overlay.fade-in, #ipad-overlay.fade-in, #laptop-overlay.fade-in {
  background-color: transparent;
}

.wallpaper-ipad {
  position: absolute;
  z-index: 6;
  left: 1614%;
  top: 72%;
  width: 30vw;
  height: 20vw;
 }

#ipad {
  position: absolute;
  z-index: 7;
  left: 240%;
  top: 75%;
  width: 25vw;
  height: 19vw;
}

#ipad-overlay2 {
  opacity: 1;
  transition: opacity 0.6s ease;
}

#ipad-overlay2.fade-in { /*here*/
  opacity: 0;
  /* width: 25vw;
  height: 19vw; */
}

.wallpaper-ipad2 > img:nth-child(1) {
  rotate: 0deg;
}

.wallpaper-laptop {
  position: absolute;
  z-index: 2;
  left: 1797%;
  top: 55%;
  width: 55vw;
  height: 35vw;
}

.wallpaper-link-container {
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  width: 20vw;
  height: 5vw;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2.5vw;
}

#wallpaper-link {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

#wallpaper-link:hover {
  background-color: black;
  color: white;
}

.end-container {
  position:absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  /* left: 520%; */
  left: 2150%;
}

.end-container > p:nth-child(1), .end-container > p:nth-child(2) {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  margin: 0;
}

.paperplane-3d {
  transition: opacity 0.5s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.show {
  transition: opacity 0.5s linear;
  opacity: 1;
}

.back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 5px gray;
  bottom: 20px;
  left: 20px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.back > img {
  width: 40%;
  height: 40%;
}

.icons {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 200px;
  height: 40px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px gray;
}

.facebook, .instagram, .youtube, .tiktok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.facebook > img, .instagram > img, .youtube > img, .tiktok > img {
  width: 80%;
  height: 80%;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.facebook > img:hover, .instagram > img:hover, .youtube > img:hover, .tiktok > img:hover {
  width: 90%;
  height: 90%;
}

.facebook > img:active, .instagram > img:active, .youtube > img:active, .tiktok > img:active {
  width: 85%;
  height: 85%;
}

@keyframes scroll {
0%{
  opacity: 1;
}
  
100%{
  opacity: 0;
  transform: translateY(15px);
}
  
}

@media only screen and (min-width: 601px) {
html, body {
  height: 100vh;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-y: none;
  font-family: 'Kanit', serif;
  max-height: 100%;
}

}

@media only screen and (max-width: 600px) {
html, body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100vw;
  overscroll-behavior-x: none;
  -ms-content-zooming: none;
  font-family: 'Kanit', serif;
}

html {
  position: relative;
  overflow-x: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

* {
  max-width: 100vw; 
}

body {
  overflow-x: hidden;
  background-color: #f0eebb;
  /*background-color: #add8e6;*/
}

.scroll-wrapper {
  top: 65%;
}

.skip {
  font-size: 3vh;
  transform: translate(-25%, 50%);
}

.hand {
  width: 100vw;
  height: 100vw;
  left: 75%;
}

.chongkoHead {
  width: 110vw;
  height: 110vw;
}

.wallpaper-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80%;
  left: 0%;
  overflow-x: hidden;
}
.anni-text1, .anni-text2, .anni-text3 {
  backface-visibility: hidden;
  transform: scale(0.9999);
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 50px;
  left: 100%;
  line-height: 20px;
  font-weight: 800;
  transition: all 0.5s linear;
  opacity: 1;
}

.anni-text1 {
  /* left: 10%; */
  font-size: 8vh;
}

.anni-text2 {
  /* left: -15%; */
  font-size: 10vh;
}

.anni-text3 {
  font-size: 5vh;
  margin-left: 0;
}

.year {
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}
.text {
  display: flex;
  width: 100px;
  height: 50px;
  overflow: hidden;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}
.year p {
  border: #f0eebb;
  margin-top: 0px;
  color: black;
}
.start, .dash {
  border: #f0eebb;
  margin-top: 35px;
  color: black;
}

.countdown-wrapper {
  position: absolute;
  overflow: hidden;
  top: 1250%;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: opacity 0.5s linear;
  opacity: 1;
}

.hidden {
  transition: opacity 0.5s linear;
  opacity: 1;
}

.show {
  transition: opacity 0.5s linear;
  opacity: 1;
}

.num, .unit {
  position: relative;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

}

.num {
  font-size: 9vw;
  font-weight: 400;
  gap: 1vw;
}

.num p {
  width: 140px;
  text-align: center;
}

.unit {
  font-size: 4vw;
  font-weight: 400;
  gap: 1vw;
}

.unit p {
  width: 140px;
  text-align: center;
}

.text2, .text3 {
  position: relative;
  height: 150px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  font-weight: 700;
  color: #6c6b54;
  opacity: 1;
}

.text2 {
  transform: translate(-50%, -10vw);
}

.text3 {
  transform: translate(-50%, 0%);
}

.overview-container {
  top: 1370%;
  left: 0;
}

.map {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 90%;
  height: 35%;
}

.map > p {
  font-size: 2vh;
}

.overview {
  position: absolute;
  top: 73%;
  left: 50%;
  width: 100%;
  height: 60%;
  transform: translate(-50%, -50%);
}

.details {
  height: 100%;
  gap: 10vh;
  top: 50%;
}

.details-two > p {
  font-size: 2.5vh;
}

.details-container {
  flex-basis: 30%;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.details-two {
  flex-basis: 50%;
}

.details-icon {
  flex-basis: 40%;
  width: 100%;
  height: 100%;
  aspect-ratio: 0;
}

.details-two > a {
  font-size: 2vh;
  width: 90%;
  height: 20%;
  border: 0.3vh solid black;
}

.concert-container {
  height: 130%;
  top: 1500%;
  left: 0;
}

.concert-details {
  flex-basis: 30%;
}

#concert-details {
  flex-basis: 90%;
}

.bands-container {
  width: 50%;
  height: 110%;
  gap: 1.5vh;
  flex-direction: column;
}

.band {
  font-size: 2.2vh;
}

.concert-icon {
  height: 20%;
}

.chapel-container {
  top: 1630%;
  left: 0;
  gap: 3vh;
}

.chapel-detail-container {
  flex-basis: 50%;
  gap: 2vw;
}

.chapel-band {
  height: 45%;
  font-size: 2vh;
}

.chapel-line {
  width: 3px;
  height: 60%;
  border-radius: 1.5px;
}

.chapel-schedule > p {
  font-size: 2.5vh;
}

.chapel-schedule {
  aspect-ratio: 0;
  width: 40%;
  height: 40%;
}

.lakorn-container {
  top: 1730%;
  left: 0;
}

.lakorn-detail-container {
  flex-direction: column;
  flex-basis: 90%;
}

.lakorn-detail {
  flex-basis: 55%;
  width: 85%;
  gap: 4vh;
}

.lakorn-image {
  width: 80%;
  height: 100%;
  border-radius: 3vh;
  flex-basis: 100%;
}

.lakorn-schedule, .lakorn-location {
  justify-content: center;
}

.lakorn-schedule > p, .lakorn-location > p {
  font-size: 2vh;
  font-weight: 600;
}

.souvenirs-container {
  top: 1850%;
  left: 0;
  height: 140%;
  gap: 12vh;
  overflow: hidden;
}

.souvenirs-header {
  top: 20%;
}

.souvenirs-headerP1 {
  font-size: 5vh;
}

.souvenirs-headerP2 {
  font-size: 3vh;
}

.souvenirs-collection {
  top: calc(3vh + 3vw);
  left: calc(0vh + 0vw);
  width: 90%;
  height: 90%;
}

.souvenirs-collection-container {
  top: 43%;
  left: 50%;
  width: 80vw;
  height: 80vw;
}

.QR-souvenirs {
  top: 75%;
  left: 50%;
  width: 20vh;
  height: 20vh;
  border-radius: 3.5vw;
  font-size: 1.5vh;
  transform: translate(-50%, -50%);
}

.souvenirs-link {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 15vw;
  border-radius: 7.5vw;
  box-shadow: inset 0px 0px 0px 0.2vh black;
}

.souvenirs-link > p {
  flex-basis: 65%;
  font-size: 6vw;
}

.souvenirs-collection-container > img {
  /* top: calc(7vw + 7vh);
  left: calc(8vw + 8vh); */
  top: 55%;
  left: 50%;
}

.souvenirs {
  width: 20%;
  height: 20%;
}

.dreamscape-container {
  transform-origin: left;
  overflow: hidden;
  left: 0;
  top: 2000%;
}

#dreamscape-name {
  top: 10%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-size: 10.5vw;
  font-weight: 700;
}

.dreamscape-logo-front, .dreamscape-logo-back {
  left: 95%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.dreamscape-logo-front {
  width: 70vw;
  height: 70vw;
}

.dreamscape-logo-back {
  width: 90vw;
  height: 90vw;
}

.dreamscape-mac {
  top: 60%;
  left: 30%;
  width: 50vw;
  height: 40vw;
}

.dreamscape-mac > video {
  width: 97%;
  height: 95%;
}

#dream-mac-overlay {
  opacity: 0;
  width: 97%;
  grid-template-columns: repeat(auto-fit,minmax(3.5vw,1fr));
  grid-auto-rows: 3.5vw;
}

#dream-phone-overlay {
  opacity: 0;
}

#dreamscape-link {
  left: 50%;
  top: 35%;
  font-size: 4vw;
  width: 60vw;
  height: 12vw;
  border-radius: 6vw;
}

#dreamscape-link.fade-in {
  top: 35%;
  opacity: 1;
}


.dream-desc {
  left: 50%;
  top: 25%;
  width: 80vw;
  height: 25vw;
}

.dream-desc > p {
  font-size: 3.5vw;
}

.grid-item1 {
  border: 2.2vw solid black;
}

.dreamscape-phone {
  top: 65%;
  left: 55%;
  width: 17vw;
  height: 34vw;
}

#dream-phone-overlay {
  grid-template-columns: repeat(auto-fit, minmax(2.5vw, 1fr));
  grid-auto-rows: 2.5vw;
}

.grid-item2 {
  border: 1.5vw solid black;
}

.filter {
  left: 0;
  height: 150%;
  top: 2080%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.video-container {
  width: 20vh;
  height: 40vh;
  left: 50%;
  top: 56%;
  border-radius: 2vh;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.wallpaper-phone > img:nth-child(2) {
  border-radius: 6vw;
}

.filter-text {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 95vw;
  height: auto;
  gap: 0px 2vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
}

#igName {
  font-size: 10vh;
}

#filter-hashtag {
  top: 27%;
  left: 50%;
  width: 95vw;
  font-size: 4vw;
}

#filter-link1 {
  width: 50vw;
  height: 40px;
  top: 35%;
  left: 50%;
  font-size: 5vw;
  border: 0.5vw solid black;
}

.filter-text > p, #igLogo, #filter-hashtag {
  flex: 1 1 auto;
  margin: 0;
}


#igLogo {
  max-width: calc(5vw + 5vh);
  -webkit-filter: drop-shadow(1px 3px 7px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(1px 3px 7px rgba(0, 0, 0, 0.75));
}

.filter-overlay1, .filter-overlay2 {
  position: absolute;
  z-index: 2;
  width: 20vh;
  height: 40vh;
  left: 50%;
  top: 56%;
  border: none;
  border-radius: 2vh;
}

.filter-overlay1 {
  transform: translate(-60.5%, -55%);
  background-color: #A1D5CC;
}

.filter-overlay2 {
  transform: translate(-40%, -45%);
  background-color: #EF6C52;
}

.circle1 {
  width: 0;
  height: 0;
  top: 25%;
  left: 56%;
}

.circle1.fade-in {
  width: 90vw;
  height: 90vw;
}

.circle2 {
  width: 0;
  height: 0;
  top: 20%;
  left: 41%;
}

.circle1.fade-in {
  width: 80vw;
  height: 80vw;
}

.boxes-container {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60vh;
  height: 20vh;
}

.box1, .box2, .box3{
  width: 13vh;
  height: 13vh;
  opacity: 1;
  cursor: pointer;
}

.box-inner1, .box-inner2, .box-inner3 {
  animation: flipCard 6s infinite linear;
}


@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(0deg);
  }
  65% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.wallpaper-wrapper {
  top: 2290%;
}

.wallpaper-wrapper > p {
  left: 50%;
  transform: translateX(-50%);
  font-size: 6.5vh;
}

.wallpaper-link {
  top: 20%;
  left: 50%;
  width: 30vh;
  height: 6vh;
}

.wallpaper-link > a{
  border-radius: 3vh;
  font-size: 2.5vh;
  /* box-shadow: inset 0px 0px 0px 0.2vh black; */
}

.wallpaper-phone, #phone, .wallpaper-ipad, #ipad, .wallpaper-laptop {
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate3D(0px, 0px, 0px);
}

.wallpaper-laptop {
  width: 40vh;
  height: 25vh;
  left: 40%;
}

.wallpaper-ipad {
  top: 62%;
  left: 60%;
  width: 25vh;
  height: 15vh;
}

.wallpaper-phone {
  top: 50%;
  left: 85%;
  width: 15vh;
  height: 30vh;
}

#ipad {
  left: 27%;
  top: 70%;
  filter: none;
}

#ipad.fade-in {
  width: 23vh;
  height: 19vh;
  left: 27%;
  top: 70%;
}

#phone {
  top: 40%;
  left: 50%;
  filter: none;
}

#phone.fade-in {
  width: 15vh;
  height: 15vh;
  top: 40%;
  left: 50%;
}

.end-container {
  position:absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  left: 0;
  top: 2410%;
}

.paperplane-3d {
  opacity: 1;
}

.icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 200px;
  min-width: 40px;
  width: 40px;
  left: 20px;
  top: 15%;
  transform: translateY(0);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px gray;
}
}
