.countdown, #percentage, #progress-bar, .footer {
    visibility: hidden;
}

body,
html {
    background-color: #391F3C;
    font-family: 'Outfit', serif;
    overflow: hidden;
}

.overlay {
    background-color: #391F3C;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #C39C1A;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3vw;
}

.countdown {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    left: 50%;
    top: 33%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #C0AEAA;
    font-weight: 800;
}

.countdown div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    font-size: 6.4vw;
    transform: translateY(-40%);
}

.countdown div:nth-child(3) {
    font-size: 4vw;
    transform: translateY(-60%);
}

#days,
#hours,
#minutes,
#seconds {
    margin: 0;
    text-wrap: nowrap;
    text-shadow: -6px 0 6.5px rgba(0, 0, 0, 0.24);
}

#days {
    font-size: 18vw;
}

#progress-bar {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 55%;
    background-color: #221324;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -6px 0 6.5px rgba(0, 0, 0, 0.24);
}

#progress-bar div {
    height: 40px;
    width: 0;
    border-radius: 20px;
    background: linear-gradient(to right, #C39C1A, #7B4B7D, #C0AEAA);
}

#percentage {
    position: absolute;
    left: 49.5%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: #C0AEAA;
    font-size: 2.5vh;
    font-weight: 300;
    text-shadow: -6px 0 6.5px rgba(0, 0, 0, 0.24);
    -webkit-user-select: none;
    user-select: none;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
}

#bacca-live {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: calc(45vw / 1.78);
    visibility: hidden;
}

.audio-player {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    text-align: center;
    background-color: #0F0810;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.music-top {
    display: flex;
    height: 65px;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
}

.play {
    padding: 10px 20px;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    border: none;
    cursor: pointer;
}

#backwards, #forwards {
    cursor: pointer;
    opacity: 50%;
}

#backwards:hover, #forwards:hover {
    opacity: 100%;
}

#backwards:active, #forwards:active {
    opacity: 50%;
}

.music-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
    color: white;
}

.music-bottom p {
    height: 10px;
    line-height: 7px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

#mobile-adjust {
    position: relative;
    width: 70%;
    height: 30px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.progress-container {
    position: relative;
    background-color: #AAAAAA;
    width: 100%;
    height: 5px;
    cursor: pointer;
}

.progress {
    background-color: #FFFFFF;
    height: 100.5%;
    width: 0;
}

#circle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    opacity: 0;
    border-radius: 7.5px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.footer {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    color: #7B4B7D;
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 10px;
    text-shadow: -6px 0 6.5px rgba(0, 0, 0, 0.24);
    text-wrap: nowrap;
}

@media only screen and (max-width: 600px) {
    #progress-bar {
        width: 85%;
    }

    #bacca-live {
        width: 80%;
        height: calc(80vw / 1.78);
    }

    .play {
        width: 50px;
        height: 50px;
    }

    #progress-bar, #percentage {
        top: 73%;
    }

    .footer {
        font-size: 2vh;
        letter-spacing: 2px;
        width: 100%;
        top: 77.5%;
        display: flex;
        justify-content: center;
        text-wrap: nowrap;
    }

    .countdown div:nth-child(2) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(0);
        font-size: 6vh;
    }

    .countdown div:nth-child(3) {
        transform: translateY(50%);
        font-size: 4vh;
    }
}
